<h1>Records list</h1>
<h3>Viewing chunk: <%= @pagination[:current] %>
  
<% if @pagination[:prev] %>
  <a href="/records/?chunk=<%= @pagination[:prev] %>">Previous</a>
<% end %>
<% if @pagination[:next] %>
  <a href="/records/?chunk=<%= @pagination[:next] %>">Next</a>
<% end %>
<dl>
  <dt>Created At</dt>
  <dd><%= @chunk_contents[:created_at] rescue "none" %></dd>
  <dt>Updated At</dt>
  <dd><%= @chunk_contents[:created_at] rescue "none" %></dd>
</dl>

<h2>Records</h2>
<p><%= @chunk_contents[:records].keys.count %></p>
<dl>  
</dl>